{% extends "base.html" %}
{% block content %}

  <div class="grid-x grid-margin-x grid-padding-x">
    {% if cat_list %}
      {% for category in cat_list %}
        <div class="cell medium-6 large-6">  
          <div class="card-info primary">
            <div class="card-info-content">
              <h3 class="lead"><a href="{% url 'category' category.name %}">{{ category.name }}</a></h3>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Opps</p>
    {% endif %}
  </div>

{% endblock %}